<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <style>
        .container-fluid {
            padding: 40px;
        }
    </style>

    <title>Documents for {{event_name}}</title>
</head>

<body>

    <div class="container-fluid">
        <div class="row">

            <h1>Event: {{event_name}}</h1>

            <div class="col-md-3">
                <table class="table table-bordered table-hover table-condensed">
                    <tbody>
                        <tr>
                            <td><strong>Total documents</strong></td>
                            <td>{{ documents|length }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <table id="tweets" class="hover compact row-border" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th></th>
                        <th>Document URL</th>
                        <th>Domain</th>
                        <th>Total tweets</th>
                    </tr>
                </thead>
                <tbody>
                    {% for url, total in documents.items() %}
                    <tr>
                        <td><a href="/document/{{ ids[url] }}"><span class="glyphicon glyphicon-new-window"></span></a></td>
                        {% if url.startswith('http') %}
                        <td><small><a href="{{url}}">{{ url|truncate(100) }}</a></small></td>
                        {% else %}
                        <td><small>{{ url|truncate(100) }}</small></td>
                        {% endif %}
                        <td><small>{{ domains[url] }}</small></td>
                        <td><small>{{ total }}</small></td>
                    </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <th></th>
                        <th>Document URL</th>
                        <th>Domain</th>
                        <th>Total tweets</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>


    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.13/js/jquery.dataTables.js"></script>


    <script>
        $(document).ready(function(){
        $('#tweets').DataTable({
        "iDisplayLength": 100,
        "lengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]]
        });
    });
    </script>
</body>


</html>