<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <meta charset="UTF-8">
    <title>Cluster</title>
</head>
<body>
    <h1>Tweets Seleccionados</h1>
     <div class="btn-group">
         <a href="/{{event_name}}/{{type}}/{{file}}/{{topic}}/2" type="button" class="btn btn-primary">Total Tweets</a>
         <a href="/{{event_name}}/{{type}}/{{file}}/{{topic}}/3" type="button" class="btn btn-primary">Total Retweets</a>
         <a href="/{{event_name}}/{{type}}/{{file}}/{{topic}}/4" type="button" class="btn btn-primary">Total Replies</a>
         <a href="/{{event_name}}/{{type}}/{{file}}/{{topic}}/5" type="button" class="btn btn-primary">Total Favs</a>
    </div>
    {% for id,html in tweets.items() %}
        <div>
            {{html|safe}}
        </div>
    {% endfor %}
</body>
</html>