<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <style>
        .container-fluid {
            padding: 40px;
        }
    </style>
    <meta charset="UTF-8"><meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Cluster Número {{cluster}}</h1>

    <strong>Número de Elementos {{n_elements}}</strong>

    <table id="tweets" class="hover compact row-border" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Documento</th>
                <th>Tweet</th>
            </tr>
        </thead>
        <tbody>
        {% for doc_i,tweets in tweet_dict.items() %}
            {% for tweet in tweets %}
                <tr>
                    <td>{{doc_i}}</td>
                    <td> {{tweet.text}} </td>
                <tr>
            {% endfor %}
        {% endfor %}
        </tbody>
    </table>

    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.13/js/jquery.dataTables.js"></script>


    <script>
        $(document).ready(function(){
        $('#tweets').DataTable({
        "iDisplayLength": 100,
        "lengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]]
        });
    });
    </script>
</body>
</html>